{% extends 'base.html.twig' %}

{% block title %}Hello ApplicationSettingsController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Paramètres</h1>

    <div class="tabs-wrapper">
        <div class="tabs is-boxed">
            <ul>
                <li class="is-active">
                    <a>
        <span class="icon is-small"
        ><i class="fas fa-image" aria-hidden="true"></i
            ></span>
                        <span>Pictures</span>
                    </a>
                </li>
                <li>
                    <a>
        <span class="icon is-small"
        ><i class="fas fa-music" aria-hidden="true"></i
            ></span>
                        <span>Music</span>
                    </a>
                </li>
                <li>
                    <a>
        <span class="icon is-small"
        ><i class="fas fa-film" aria-hidden="true"></i
            ></span>
                        <span>Videos</span>
                    </a>
                </li>
                <li>
                    <a>
        <span class="icon is-small"
        ><i class="far fa-file-alt" aria-hidden="true"></i
            ></span>
                        <span>Documents</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="tabs-content">
        <ul>
            <li class="is-active">
                <h1>Pictures</h1>
            </li>
            <li>
                <h1>Music</h1>
            </li>
            <li>
                <h1>Videos</h1>
            </li>
            <li>
                <h1>Documents</h1>
            </li>
        </ul>
    </div>
</div>
{% endblock %}
