@use "../../node_modules/bulma/sass/index";
@use "../../node_modules/remixicon/fonts/remixicon.css";
//@import 'lib/bulma-extension/bulma-checkradio.scss';
@use "app_structure/menu_structure.scss";
@use "editor/editor.scss";
@use "media_library/media-library.scss";
@use "page_edit/page_edit.scss";
@use "form/form.scss";

body{
  background-color: white;
}

*::-webkit-scrollbar-track
{
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  background-color: #F5F5F5;
}

*::-webkit-scrollbar
{
  width: 10px;
  background-color: #F5F5F5;
}

*::-webkit-scrollbar-thumb
{
  background-color: #000000;
  border: 2px solid #555555;
}
.h-100{
    height: 100%;
}
.w-100{
    width: 100%;
}
.has-soft-border-bottom{
    border-bottom: 1px solid #ededed;
}

.sidebar {
  background-color: white;
  padding: 20px;
  width: 240px;
  padding-top: 52px;
  position: fixed;
  // set border right to 1px solid with bulma's $border-color
  border-right: 2px solid #6bc752;
  // add inside shadow with bulma's $box-shadow
  box-shadow: inset 0 0 5px #8cd378;
  height: 100vh;
}
.section {
  //width: calc(100% - 240px);
  //  margin-left: 240px;
}

/* Pour les écrans de bureau */
@media screen and (min-width: 1024px) {
  .main-container {
    display: flex;
  }
  .settings-container {
    width: 320px;
    flex-shrink: 0;
  }
  .preview-container {
    flex-grow: 1;
  }
}

/* Pour les écrans plus petits (tablette et mobile) */
@media screen and (max-width: 1023px) {
  .settings-container, .preview-container {
    width: 100%;
    display: none;
  }

  /* Afficher le conteneur de paramètres par défaut */
  .settings-container.active, .preview-container.active {
    display: block;
  }

  /* Boutons pour basculer entre les conteneurs sur mobile/tablette */
  .toggle-buttons {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
  }
}

