{#  templates/base.html.twig  #}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    <link rel="icon"
          href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text><text y=%221.3em%22 x=%220.2em%22 font-size=%2276%22 fill=%22%23fff%22>sf</text></svg>">
    <script src="https://cdn.jsdelivr.net/npm/sortablejs@latest/Sortable.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.9.3/dropzone.min.css">
    {% block stylesheets %}
        {{ encore_entry_link_tags('appStyle') }}
    {% endblock %}
    {{ encore_entry_script_tags('app') }}
    <script>
        function onReady(callback) {
            document.addEventListener("DOMContentLoaded", callback)
        }
    </script>
    {% block javascripts %}

    {% endblock %}
</head>
<body style="display:flex;min-height: 100vh;">
{# Topbar #}
<div class="navbar is-fixed-top" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
        </a>
    </div>
</div>
<div class="is-flex is-flex-direction-row w-100" style="margin-top:52px">
    {% include 'partials/_sidebar.html.twig' %}
    {# <nav id="navbar-main" class="navbar is-fixed-top"> #}
    {#    <div class="navbar-brand"> #}
    {#        <a class="navbar-item is-hidden-desktop jb-aside-mobile-toggle"> #}
    {#            <span class="icon"><i class="mdi mdi-forwardburger mdi-24px"></i></span> #}
    {#        </a> #}
    {#        <div class="navbar-item has-control"> #}
    {#            <div class="control"><input placeholder="Search everywhere..." class="input"></div> #}
    {#        </div> #}
    {#    </div> #}
    {#    <div class="navbar-brand is-right"> #}
    {#        <a class="navbar-item is-hidden-desktop jb-navbar-menu-toggle" data-target="navbar-menu"> #}
    {#            <span class="icon"><i class="mdi mdi-dots-vertical"></i></span> #}
    {#        </a> #}
    {#    </div> #}
    {#    <div class="navbar-menu fadeIn animated faster" id="navbar-menu"> #}
    {#        <div class="navbar-end"> #}
    {#            <div class="navbar-item has-dropdown has-dropdown-with-icons has-divider is-hoverable"> #}
    {#                <a class="navbar-link is-arrowless"> #}
    {#            <span class="icon"> #}
    {#              <i class="mdi mdi-menu"></i> #}
    {#            </span> #}
    {#                    <span>Sample Menu</span> #}
    {#                    <span class="icon"> #}
    {#              <i class="mdi mdi-chevron-down"></i> #}
    {#            </span> #}
    {#                </a> #}
    {#                <div class="navbar-dropdown"> #}
    {#                    <a href="profile.html" class="navbar-item is-active"> #}
    {#                        <span class="icon"><i class="mdi mdi-account"></i></span> #}
    {#                        <span>My Profile</span> #}
    {#                    </a> #}
    {#                    <a class="navbar-item"> #}
    {#                        <span class="icon"><i class="mdi mdi-settings"></i></span> #}
    {#                        <span>Settings</span> #}
    {#                    </a> #}
    {#                    <a class="navbar-item"> #}
    {#                        <span class="icon"><i class="mdi mdi-email"></i></span> #}
    {#                        <span>Messages</span> #}
    {#                    </a> #}
    {#                    <hr class="navbar-divider"> #}
    {#                    <a class="navbar-item"> #}
    {#                        <span class="icon"><i class="mdi mdi-logout"></i></span> #}
    {#                        <span>Log Out</span> #}
    {#                    </a> #}
    {#                </div> #}
    {#            </div> #}
    {#            <div class="navbar-item has-dropdown has-dropdown-with-icons has-divider has-user-avatar is-hoverable"> #}
    {#                <a class="navbar-link is-arrowless"> #}
    {#                    <div class="is-user-avatar"> #}
    {#                        <img src="https://avatars.dicebear.com/v2/initials/john-doe.svg" alt="John Doe"> #}
    {#                    </div> #}
    {#                    <div class="is-user-name"> #}
    {#                        <span>John Doe</span> #}
    {#                    </div> #}
    {#                    <span class="icon"><i class="mdi mdi-chevron-down"></i></span> #}
    {#                </a> #}
    {#                <div class="navbar-dropdown"> #}
    {#                    <a href="profile.html" class="navbar-item is-active"> #}
    {#                        <span class="icon"><i class="mdi mdi-account"></i></span> #}
    {#                        <span>My Profile</span> #}
    {#                    </a> #}
    {#                    <a class="navbar-item"> #}
    {#                        <span class="icon"><i class="mdi mdi-settings"></i></span> #}
    {#                        <span>Settings</span> #}
    {#                    </a> #}
    {#                    <a class="navbar-item"> #}
    {#                        <span class="icon"><i class="mdi mdi-email"></i></span> #}
    {#                        <span>Messages</span> #}
    {#                    </a> #}
    {#                    <hr class="navbar-divider"> #}
    {#                    <a class="navbar-item"> #}
    {#                        <span class="icon"><i class="mdi mdi-logout"></i></span> #}
    {#                        <span>Log Out</span> #}
    {#                    </a> #}
    {#                </div> #}
    {#            </div> #}
    {#            <a href="https://justboil.me/bulma-admin-template/free-html-dashboard/" title="About" class="navbar-item has-divider is-desktop-icon-only"> #}
    {#                <span class="icon"><i class="mdi mdi-help-circle-outline"></i></span> #}
    {#                <span>About</span> #}
    {#            </a> #}
    {#            <a title="Log out" class="navbar-item is-desktop-icon-only"> #}
    {#                <span class="icon"><i class="mdi mdi-logout"></i></span> #}
    {#                <span>Log out</span> #}
    {#            </a> #}
    {#        </div> #}
    {#    </div> #}
    {# </nav> #}
    <section class="section w-100 p-0 h-100">
        {% block body %}{% endblock %}
    </section>
</div>
</body>
</html>

