.toolbar {
  background-color: #FFFFFF;
  display: flex;
  padding: 8px;
  gap: 8px;
  margin-bottom: 10px;
  border-radius: 0.5rem;

  #color-picker-input{
  }
  #color-picker-input-label{

    i{
        font-size: 1.25rem;
        font-weight: 500;
    }
  }
  button.tool{
    padding-left: .5rem;
    padding-right: .5rem;
    cursor: pointer;
    font-weight: 600;
    font-size: .875rem;
    line-height: 1.25rem;
    border-radius: .25rem;

    &:hover{
      background: #c6c6c6;
    }
    &.active{
      background: #888888;
    }
    i{
      font-size: 1.25rem;
      font-weight: 500;
    }
  }
}

.editor {
  min-height: 300px;
  border: 1px solid #ccc;
  padding: 10px;
}