{% extends 'base.html.twig' %}

{% block body %}
<div id="editor">

</div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('initContentPageEditor') }}
{% endblock %}