{% import "app_structure/macro/menu_item.html.twig" as menuItemMacro %}
<div class="w-100">
    <h2 class="title is-4">Menu de navigation</h2>
    <div class="menu custom-menu">
        {{ menuItemMacro.renderMenu(mainMenu) }}
    </div>
</div>
<div class="w-100 mt-5">
    <h2 class="title is-4">Autres pages & menus</h2>
    <div class="menu custom-menu">
        {{ menuItemMacro.renderMenu(unassignedPagesMenu) }}
    </div>
</div>